<template>
  <div class="row m-0 main-container">
    <div class="col-md-8 main-background p-5 d-flex flex-column justify-content-between">
      <div class="pl-5 pr-5">
        <div class="d-flex justify-content-between">
          <h6 class="text-center">Urbana</h6>
          <h6 class="ml-4">{{this.todayDate}}</h6>
          <h6 class="ml-4">Rain map</h6>
        </div>
      </div>
      <div class="pl-5 row m-0">
        <div class="col-md-6  d-flex flex-column align-items-center justify-content-end">
          <div class="font-weight-bold main-degree-title position-relative d-flex">
            <span class="position-relative" style="z-index: 100;">{{this.currentTemp}}</span>
              <div class="degree-font d-flex justify-content-center align-items-center position-relative" style="top: 4rem; right: 2.5rem;">
                <div class="d-flex justify-content-center align-items-center bg-dark position-relative" style="width: 40%; height: 40%; border-radius: 50%;">
                  <div style="width: 45%; height: 45%; border-radius: 50%; background-color: #cecdcd;">
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div>
          <div class="text-secondary">{{this.currentTime}}</div>
          <h1 class="font-weight-bold display-3 mt-1 mb-0">{{this.todayInWeek}}</h1>
          <div class="text-secondary mt-1 text">{{this.weatherDescription}}</div>
          </div>
        </div>
      </div>
       <div class="pb-5 mt-5">
         <div class="d-flex justify-content-center">
           <div class="row m-0 " style="width:85%">
            <div class="col mt-1">
                <div>Sat</div>
                <div class="mt-2 font-weight-bold">-4&#176;</div>
            </div>
            <div class="col mt-1">
              <div>Sun</div>
              <div class="mt-2 font-weight-bold">-7&#176;</div>
            </div>
            <div class="col mt-1">
              <div>Mon</div>
              <div class="mt-2 font-weight-bold">-3&#176;</div>
            </div>
            <div class="col mt-1">
              <div>Tue</div>
              <div class="mt-2 font-weight-bold">-1&#176;</div>
            </div>
            <div class="col mt-1">
              <div>Wed</div>
              <div class="mt-2 font-weight-bold">-2&#176;</div>
            </div>
            <div class="col mt-1">
              <div>Thu</div>
              <div class="mt-2 font-weight-bold">-9&#176;</div>
            </div>
            <div class="col mt-1">
              <div>Fri</div>
              <div class="mt-2 font-weight-bold">-4&#176;</div>
            </div>
           </div>
         </div>
      </div>
    </div>
    <div class="col-md-4 p-5">
      <div class="text-right pr-5">
        <h6>For a month</h6>
      </div>
      <div class="h-100 d-flex justify-content-center flex-column pr-5">
         <div class="text-right d-flex justify-content-end" :class="{'mt-5': index > 0}" v-for="(item, index) in this.liveWeatherArr" :key="index">
            <h5 class="font-weight-light">{{item[1]}}</h5>
            <h5 class="ml-3 font-weight-bold">{{item[0]}}&#176;</h5>
         </div>
        <!-- <div class="text-right d-flex justify-content-end">
          <h5 class="font-weight-light">11:00</h5>
          <h5 class="ml-3 font-weight-bold">-4&#176;</h5>
        </div>
         <div class="text-right mt-5 d-flex justify-content-end">
          <h5 class="font-weight-light">12:00</h5>
          <h5 class="ml-3 font-weight-bold">-4&#176;</h5>
        </div>
         <div class="text-right mt-5 d-flex justify-content-end">
          <h5 class="font-weight-light">13:00</h5>
          <h5 class="ml-3 font-weight-bold">-5&#176;</h5>
        </div>
         <div class="text-right mt-5 d-flex justify-content-end">
          <h5 class="font-weight-light">14:00</h5>
          <h5 class="ml-3 font-weight-bold">-7&#176;</h5>
        </div>
         <div class="text-right mt-5 d-flex justify-content-end">
          <h5 class="font-weight-light">15:00</h5>
          <h5 class="ml-3 font-weight-bold">-3&#176;</h5>
        </div>
         <div class="text-right mt-5 d-flex justify-content-end">
          <h5 class="font-weight-light">16:00</h5>
          <h5 class="ml-3 font-weight-bold">-4&#176;</h5>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'App',
  data() {
    return {
      currentTemp: 0,
      todayDate: "",
      currentTime: "",
      weatherDescription: "",
      todayInWeek: "",
      liveWeatherArr: []
    }
  },
  mounted() {
    const dateWeekDic = {
      0: 'Sunday',
      1: 'Monday',
      2: 'Tuesday',
      3: 'Wednesday',
      4: 'Thursday',
      5: 'Friday',
      6: 'Saturaday'
    };

    const today = new Date();
    let date = today.getDate() + '.' +(today.getMonth()+1) + '.' + today.getFullYear();
    let time = today.getHours() + ":" + today.getMinutes();
    this.todayDate = date;
    this.currentTime = time;
    this.todayInWeek = dateWeekDic[today.getDay()];
    axios.get('https://api.weatherapi.com/v1/forecast.json?key=aceb95e0fcf74d94a1660115212803&q=61801&days=7&aqi=no&alerts=no')
    .then(res => {
      let data = res.data;
      this.currentTemp = Math.round(data.current.temp_c);
      this.weatherDescription = data.current.condition.text;
      console.log(data.forecast);
      let totalLiveArr = data.forecast.forecastday[0].hour.concat(data.forecast.forecastday[1].hour);
      let currentHourIndex = today.getHours();
      this.liveWeatherArr = [];
      for (let i = currentHourIndex; i < currentHourIndex + 7; i++) {
        this.liveWeatherArr.push([Math.round(totalLiveArr[i].temp_c), totalLiveArr[i].time.split(" ")[1]]);
      }
      console.log(this.liveWeatherArr);
      console.log(data);
    })
    .catch(err => {
      console.log("Get weather api error", err);
    })
  }
}
</script>

<style>
.main-background {
  background-color: #fbf9f9;
}

.main-container {
  min-height: 100vh;
}

.degree-font {
  font-size: 65%;
  /* margin-left: -2.5rem; */
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #cecdcd;
}

.main-degree-title {
  font-size: 15rem; 
}

</style>
